body{
    background-color: skyblue;
}
h1{
    font-size: 30px;
    text-shadow: 2 px 2px 5px gray;
}
p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;
    padding: 20px;
    margin: 30px;
    width: 300px;
    margin: auto;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    position: relative;
    animation: move 2s infinite alternate;
    transform: rotate(45deg);
}
a{
    color:green ;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 800px;
    margin: auto;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
}
button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: darkblue;
}
@keyframes move {
    0% {left: 0;}
    100% {left: 100px;}
}
div:hover{
    transform:scale(1.2) ;
}
img{
    width: 200px;
    height: auto;
}
.element{
    position: absolute;
    z-index: 10px;
}