form{
 background-color: bisque;
 padding: 20px; 
 width: 35%;

}
label{
    display: inline-block;
    width: 120px;
}
h1{font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}